<h1>Reportes</h1>

<div data-controller="reports">
  <%= link_to "Generar PDF", generate_and_download_report_super_admins_reports_path, method: :post, remote: true, class: "btn btn-primary", data: { action: "click->reports#generateReport", reports_target: "button" } %>
</div>
