.hero-section {
  position: relative;
  padding: 100px 0;
  color: white;
  border-radius: 1rem;
  h1{
    font-weight: 900;
  }
}


.d-none {
  display: none;
}
.current-image img {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 0 auto; 
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
