/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard_main {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}


.sidebar {
  background-color: #1a202c; 
  color: #222325;
  flex-direction: column;
  padding: 1rem 0;
}

.sidebar__header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.nav-dashboard {
  list-style: none;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0;
  gap: 1rem;
  padding: 1rem;

}

.nav-dashboard-item {
  width: 100%; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  line-height: 2; 
    border-radius: 1rem;


}

.nav-dashboard-item:hover {
  background-color: #4a5568; 
}

.nav-dashboard-link {
  color: #cbd5e0;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease; 
}

.nav-dashboard-link:hover {
  color: #fff; 
}

.nav-dashboard-link i {
  margin-right: 0.75rem;
}

.main-content {
  background-color: #F7F8FD; 
  color: black; 
  padding-top:1rem;
  overflow-y: auto;
}

.alert {
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .dashboard_main {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1a202c; 
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70px; 
    padding-top: 1rem;
    padding-bottom: 3rem; 
  }

  .nav-dashboard{
    padding: 0.2rem;
  }
  .nav-dashboard-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-dashboard-link {
    color: #cbd5e0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-dashboard-link i {
  margin-right: 0;
}

  .nav-dashboard-link .sidebar__text {
    display: none;
  }

  .nav-dashboard-link i {
    margin-bottom: 0.25rem;
  }

  .main-content {
    padding: 1rem;
    margin-left: 50px; 
  }
}


.active{
  background-color: #4a5568; 
}