<div class="card">
  <div class="card-body">
    <h5 class="card-title">Hello <%= @email %>!</h5>
    <% if @resource.try(:unconfirmed_email?) %>
      <p class="card-text">We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
    <% else %>
      <p class="card-text">We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
    <% end %>
  </div>
</div>
