<div class="card">
  <div class="card-body">
    <h5 class="card-title">Hello <%= @resource.email %>!</h5>
    <p class="card-text">Someone has requested a link to change your password. You can do this through the link below:</p>
    <p class="card-text"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
    <p class="card-text">If you didn't request this, please ignore this email.</p>
    <p class="card-text">Your password won't change until you access the link above and create a new one.</p>
  </div>
</div>
